// * {
//     outline: 1px solid red;
// }

.header {
    position: sticky;
    background-color: $bgColor;
    border-bottom: 1px solid $lineColor;
    top: 0;
    z-index: 1000;
    // .header__container

    &__container {
        max-width: 100vw;
        padding: 10px 24px;
        @include _799 {
            padding: 9px 20px 9px 15px;
        }
    }

    // .header__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        gap: 107px;
        align-items: center;
        @include _799 {
            flex-direction: row-reverse;
        }
    }

    // .header__burger

    &__burger {
        width: 48px;
        aspect-ratio: 1/1;
    }

    // .header__nav

    &__nav {
        position: fixed;
        top: 71px;
        left: 0;
        bottom: 0;
        width: 280px;
        background-color: rgba(255, 255, 255, 0.95);
        box-shadow: 0px 3px 12px #00000029;
        padding: 20px;
        transition: all 0.3s;
        transform: translateX(-100%);

        &.active {
            transform: translateX(0);
        }
        @include _799 {
            width: 268px;
            left: calc(100% - 268px);
            right: 0;
            transform: translateX(100%);
            top: 63px;
            font-size: 16px;
        }
    }

    // .header__nav-list

    &__nav-list {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    // .header__nav-item

    &__nav-item {
        display: flex;
        flex-direction: column;
        gap: 18px;
    }

    // .header__nav-item-title

    &__nav-item-title {
        font-weight: 700;
        line-height: 1.5;
        text-transform: uppercase;
    }

    // .header__nav-inner-list

    &__nav-inner-list {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }

    // .header__nav-inner-item

    &__nav-inner-item {
    }

    // .header__nav-link

    &__nav-link {
    }

    // .header__logo

    &__logo {
        align-self: center;
    }

    // .header__logo-img

    &__logo-img {
        width: 100%;
    }

    // .header__help-box

    &__help-box {
        cursor: pointer;
        width: 48px;
        aspect-ratio: 1/1;
        display: flex;
        align-items: center;
        justify-content: center;
        & g g {
            stroke: $linkColor;
            transition: all 0.3s;
        }
        & path {
            fill: $linkColor;
            transition: all 0.3s;
        }

        &:hover {
            & g g {
                stroke: $linkHoverColor;
            }
            & path {
                fill: $linkHoverColor;
            }
        }
        @include _799 {
            display: none;
        }
    }

    // .header__help

    &__help {
        position: relative;
    }

    &__help-content {
        position: absolute;
        background-color: $bgColor;
        top: 52px;
        right: 16px;
        box-shadow: 0px 3px 12px #00000033;
        padding: 24px 16px;
        visibility: hidden;
        opacity: 0;
        flex-direction: column;
        align-items: center;
        display: flex;
        transition: all 0.5s;
        &::after {
            position: absolute;
            content: '';
            border: 15px solid transparent;
            border-bottom: 15px solid $bgColor;
            top: -30px;
            right: 15px;
            pointer-events: none;
        }

        &.active {
            visibility: visible;
            opacity: 1;
        }
    }

    // .help__title

    &__help-title {
        pointer-events: none;
        line-height: 1.223;
    }

    // .help__number

    &__help-number {
        font-size: 28px;
        font-weight: 600;
        pointer-events: none;
        margin-bottom: 20px;
        line-height: 1.3575;
    }

    // .help__link

    &__help-link {
        line-height: 1.223;
    }
}

.burger {
    // .burger__line
    position: relative;
    width: 48px;
    height: 48px;
    padding: 13px 9px 12px;
    background-color: transparent;
    @include _799 {
        width: 22.5px;
        height: 18px;
        padding: 0;
    }
    &__line {
        position: absolute;
        right: 9px;
        top: 50%;
        transform: translateY(-50%);
        width: 30px;
        height: 3px;
        background-color: $linkColor;
        @include _799 {
            width: 22.5px;
            right: 0;
        }
    }
    &::before,
    &::after {
        content: '';
        position: absolute;
        right: 9px;
        width: 30px;
        height: 3px;
        background-color: $linkColor;
        transition: all 0.3s;
        @include _799 {
            width: 22.5px;
            right: 0;
        }
    }
    &::before {
        top: 13px;
        @include _799 {
            top: 0;
        }
    }
    &::after {
        bottom: 12px;
        @include _799 {
            bottom: 0;
        }
    }
    &.active::before,
    &.active::after,
    &.active .burger__line {
        opacity: 0;
    }
    .burger__line-1,
    .burger__line-2 {
        transition: all 0.3s;
    }

    &.active .burger__line-1 {
        opacity: 1;
        top: 50%;
        transform: rotate(45deg);
    }
    &.active .burger__line-2 {
        opacity: 1;
        top: 50%;
        transform: rotate(-45deg);
    }

    &:hover .burger__line,
    &:hover::before,
    &:hover::after {
        background-color: $linkHoverColor;
    }
}

.search {
    background: url(../images/pic_main.jpg) no-repeat top/cover;
    padding: 89px 0 112px;
    @include _799 {
        padding: 40px 0;
    }
    // .search__inner

    &__inner {
        color: $searchColor;

        @include _799 {
        }
    }

    // .search__title

    &__title {
        margin-bottom: 16px;
        text-align: left;
        @include _799 {
            text-align: center;
        }
    }

    // .search__form

    &__form {
        display: flex;
        justify-content: space-between;
        gap: 17.5px;
        margin-bottom: 12px;
        @include _799 {
            gap: 0;
        }
    }

    // .search__input

    &__input {
        flex-grow: 1;
        @include _799 {
            border-right: none;
            border-radius: 8px 0 0 8px;
            padding: 13px 12px;
            height: 48px;
        }
    }

    &__btn {
        span {
            @include _799 {
                display: none;
            }
        }
        & svg {
            display: none;
            @include _799 {
                display: block;
            }
        }
        @include _799 {
            padding: 0;
            width: 48px;
            aspect-ratio: 1/1;
            background: $bgColor;
            border: 2px solid $lineColor;
            border-left: none;
            border-radius: 0 8px 8px 0;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
    // .search__desk

    &__desk {
        @include _799 {
            font-size: 12px;
        }
    }
}

.payment {
    padding: 60px 0 62px;
    @include _799 {
        padding: 28px 0 0;
    }
    // .payment__inner

    &__inner {
    }

    // .payment__title

    &__title {
        margin-bottom: 16px;
        @include _799 {
            display: none;
        }
    }
    &__title2 {
        display: none;
        @include _799 {
            display: block;
            margin-bottom: 17px;
        }
    }

    // .payment__link-list

    &__link-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        height: fit-content;
        position: relative;
        z-index: 1;

        & + & {
            margin-top: 13px;
            margin-bottom: 20px;
        }
        @include _799 {
            display: none;
        }
    }

    // .payment__link-item

    &__link-item {
    }

    // .payment__link

    &__link {
        font-size: 20px;
        border-bottom: 1px dashed $linkBorderColor;
        color: $linkColor;
        transition: all 0.3s;

        &:hover {
            border-bottom: 1px dashed $linkHoverColor;
            color: $linkHoverColor;
        }
    }

    // .payment__text

    &__text {
        font-size: 19px;
        line-height: 1.368;
    }

    // .payment__info-accordion

    &__info-accordion {
    }

    // .payment__info-accordion-item

    &__info-accordion-item {
    }

    // .payment__info-accordion-item-header

    &__info-accordion-item-header {
    }

    // .payment__info-accordion-item-body

    &__info-accordion-item-body {
    }

    // .payment__info-accordion-item-body-content

    &__info-accordion-item-body-content {
    }

    // .payment__info-title

    &__info-title {
        font-size: 25px;
        line-height: 1.36;
        margin-bottom: 22px;
        font-weight: 600;
        @include _799 {
            display: none;
        }
    }

    // .payment__info-desk

    &__info-desk {
        margin-bottom: 18px;
    }

    // .payment__info-subtitle

    &__info-subtitle {
        text-transform: uppercase;
        color: $btnColor;
        font-weight: 700;
        line-height: 1.5;
        margin-top: 37px;
        @include _799 {
            margin-top: 20px;
        }
    }

    // .payment__info-img-box

    &__info-img-box {
        @include _799 {
            display: none;
        }
    }

    // .payment__info-img

    &__info-img {
    }

    // .payment__info-desk-link

    &__info-desk-link {
    }

    .accordion {
        display: flex;
        flex-direction: column;
        margin-top: -60px;

        @include _799 {
            margin-top: 0;
        }
        &-item {
            padding: 120px 0 0;
            position: relative;
            &:nth-child(2n) .payment__info-accordion-item-body {
                flex-direction: row-reverse;
            }
            &:nth-child(1) {
                &::before {
                    display: none;
                    @include _799 {
                        display: block;
                    }
                }
            }

            &::before {
                position: absolute;
                content: '';
                width: 100vw;
                top: 60px;
                border-bottom: 1px solid $lineColor;
                left: calc(50% - 50vw);
                background-position: center;
                @include _799 {
                    top: 100%;
                    transform: translateY(-100%);
                }
            }
            @include _799 {
                padding: 0;
            }
        }
        &-item-header {
            display: none;
            @include _799 {
                display: flex;
                align-items: center;
                gap: 10px;
                position: relative;
                cursor: pointer;
                padding: 6px 0;
                margin-left: -4px;
                & p {
                    border-bottom: 1px dashed $linkBorderColor;
                    line-height: 27px;
                    color: $linkColor;
                    font-weight: 600;
                    transition: all 0.3s;
                }

                & svg {
                    transition: all 0.3s;
                    fill: $linkColor;
                }

                &:hover p {
                    color: $linkHoverColor;
                }

                &:hover svg {
                    fill: $linkHoverColor;
                }
            }

            &.active {
            }
            &.active + .accordion-item-body {
                margin-top: 20px;
                margin-bottom: 20px;
            }
            &.active .accordion-item-arrow {
                transform: translateY(-50%) rotate(-180deg);
            }
        }

        &-item-arrow {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
        }

        &-item-body {
            display: flex;
            gap: 40px;
            @include _799 {
                max-height: 0;
                overflow: hidden;
                transition: max-height 0.2s ease-out;
            }
        }
        &-item-body-content {
            & a {
                
            }

            @include _799 {
            }
        }
    }
}

.cooperation {
    padding: 60px 0;
    @include _799 {
        padding: 27.25px 0 33px;
        font-size: 12px;
    }
    // .cooperation__inner

    &__inner {
    }

    // .cooperation__title

    &__title {
        margin-bottom: 53px;
        @include _799 {
            margin-bottom: 26px;
        }
    }

    // .cooperation__list

    &__list {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        @include _979 {
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 24px;
        }
        @include _490 {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    // .cooperation__item

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        @include _799 {
            gap: 8px;
        }
    }

    // .cooperation__item-img-box

    &__item-img-box {
    }

    // .cooperation__item-img

    &__item-img {
    }

    // .cooperation__desk

    &__desk {
        text-align: center;
        font-weight: 600;
        font-size: 12px;
        line-height: 1.417;
    }
}

.footer {
    background-color: $lineColor;
    @include _799 {
        font-size: 12px;
    }
    // .footer__container

    &__container {
        max-width: none;
        padding: 32px 35px 39.5px 32px;
        @include _799 {
            padding: 20px 0;
        }
    }

    // .footer__inner

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @include _799 {
            flex-direction: column;
            gap: 17px;
        }
    }

    // .footer__content

    &__content {
        display: flex;
        flex-direction: column;
        @include _799 {
            flex-direction: row;
        }
    }

    // .footer__content-text

    &__content-text {
        font-weight: 600;
    }

    // .footer__logo

    &__logo {
    }

    // .footer__logo-img

    &__logo-img {
    }
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: $overlay;
    display: none;
    align-items: center;
    justify-content: center;

    &.active {
        display: flex;
    }

    // .modal__dialog

    &__dialog {
        width: 400px;
        height: 469px;
        position: relative;
        box-shadow: 0px 3px 6px #00000029;
        background: $bgColor;
        margin: 15px;
        @include _360 {
            width: 100vw;
            height: 100vh;
            margin: 0;
        }
    }

    // .modal__content

    &__content {
        position: relative;
        width: 100%;
        height: 100%;
        padding: 40px;
        display: flex;
        flex-direction: column;
        gap: 32px;
        @include _450 {
            padding: 24px 20px;
        }
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        width: 48px;
        aspect-ratio: 1/1;

        & svg {
            fill: rgba(0, 0, 0, 0.25);
            transition: all 0.3s;
            pointer-events: none;
        }

        &:hover svg {
            fill: $linkHoverColor;
        }
    }

    // .modal__form

    &__form {
        display: flex;
        flex-direction: column;
        gap: 23px;
        justify-content: space-between;
    }

    // .modal__title

    &__title {
        font-weight: 700;
        max-width: 267px;
        line-height: 1.44;
    }

    // .modal__input-box

    &__input-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .modal__input

    &__input {
    }

    // .modal__btn

    &__btn {
    }

    // .modal__link-box

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    // .modal__link

    &__link {
    }
}
