// Colors

$bgColor: #FFFFFF;
$searchColor: #FFFFFF;
$linkColor:#004685;
$linkBorderColor:#00468575;
$linkHoverColor:#569DDC;
$textColor:#000000;
$btnColor:#D30531;
$lineColor:#00468533;
$placeholderColor: #00000075;
$overlay: #000000CC;